.sidebar {
    position: fixed;
    top: 0;
    width: 250px;
    height: 100%;
    background: #242C4F;
    text-emphasis-color: #fff;
    transition: left 0.3s ease;
  }

  .open {
    left: -0px; /* Mostrar el menú por defecto */
  }
  
  .closed {
    left: -200px; /* Ocultar el menú por defecto */
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 10px;
    color: #fff;
  }
  
  .sidebar li:hover {
    background: #fff;
  }

  .sidebarText {
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    font-size: 1rem; 
    font-weight: 600; 
    color: #ffffff;
  }

  .sidebarIcon {
    margin-bottom: 0.5rem;
    font-size: 1.5rem; 
    font-weight: 600; 
    color: #ffffff;
  }  
  
  .sidebarButton {
    color: #fff ;
    cursor: pointer;
    font-size: 2rem;
    left: 207px;
    position: relative;
    top: 7px;
    z-index: 999;
  }

  .sidebarButtonOpen {
    left: 207px;
  }

  .sidebarButtonClosed {
    left: 11px;
  }
  
  .custom-icon:hover {
    display: block;
    color: rgb(255, 0, 0) ;
  }
  