.sidebar {
    position: fixed;
    top: 0;
    left: -200px; /* Ocultar el menú inicialmente */
    width: 200px;
    height: 100%;
    background-color: #333;
    transition: left 0.3s ease;
  }
  
  .sidebar.open {
    left: 0; /* Mostrar el menú cuando está abierto */
  }
  
  .toggleButton {
    background-color: transparent;
    border: none;
    color: rgb(255, 0, 0);
    cursor: pointer;
    padding: 10px;
  }
  
  .menuItems {
    list-style: none;
    padding: 0;
  }
  
  .menuItems li {
    padding: 10px;
    color: white;
  }
  