.sidebar {
    position: fixed;
    top: 0;
    width: 250px;
    height: 100%;
    background: #333;
    transition: left 0.3s ease;
  }

  .open {
    left: -0px; /* Mostrar el menú por defecto */
  }
  
  .closed {
    left: -200px; /* Ocultar el menú por defecto */
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 10px;
    color: #fff;
  }
  
  .sidebar li:hover {
    background: #555;
  }
  
  .customIcon {
    color: #bbb7b7;
    cursor: pointer;
    font-size: 2rem;
    left: 207px;
    position: relative;
    top: 7px;
    z-index: 999;
  }

  .customIconOpen {
    left: 207px;
  }

  .customIconClosed {
    left: 11px;
  }
  
  .custom-icon:hover {
    display: block;
  }
  